<div class="form-div">
  <div class="first-row">
    <div class="photo">
      <img src="{{image}}">
    </div>
    <div class="title-rating">
      <h2>{{ placeName }}</h2> 
      <div class="address">
        <p>{{ address }}</p>
      </div>
      <div class="stars-rating">
        <mat-icon class="star" *ngFor="let icon of maxRatingArr; let index=index" 
        (mouseenter)="handleMouseEnter(index)"
        (mouseleave)="handleMouseLeave()"
        (click)="onRatingSet(index)"
        [ngClass]="{checked:SelectedStar > index}">
          star
        </mat-icon>
      </div>
      <form (ngSubmit)="submitRating()" #reviewForm="ngForm">
        <div class="end-form">
        <mat-form-field class="comment">
          <textarea matInput #input placeholder="Commentaire" [(ngModel)]="comment" name="comment"></textarea>
        </mat-form-field>
      
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="reviewForm.invalid">Ajouter mon Spot</button>
        </div>
      </form>
    </div>

</div>

</div>