<h2>{{ placeName }}</h2> 
<div class="stars-rating">
  <mat-icon class="star" *ngFor="let icon of maxRatingArr; let index=index" 
  (mouseenter)="handleMouseEnter(index)"
  (mouseleave)="handleMouseLeave()"
  (click)="onRatingSet(index)"
  [ngClass]="{checked:SelectedStar > index}">
    star
  </mat-icon>
</div>

<form (ngSubmit)="submitRating()" #reviewForm="ngForm">
    <!-- <mat-form-field>
      <mat-label>Rating</mat-label>
      <ngx-stars (ratingOutput)="onRatingSet($event)"></ngx-stars>
    </mat-form-field> -->
  

    <mat-form-field>
      <textarea matInput #input placeholder="Comment" [(ngModel)]="comment" name="comment"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="reviewForm.invalid">Submit Review</button>
  </form>