/* navbar.component.scss */
@use '../../variables' as v;

.nav-tabs {
    background-color: v.$theme-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 25px 150px;
    min-width: 850px;
    font-family: 'Inter';

    h1 {
      font-family: 'Inter';
    }

    a{
      color: v.$theme-background-lighter;
      text-decoration: none;
      margin: 5px 15px 0 15px;
      // height: 50px;
      text-align: center;
      border-radius: 4px;
    }
    
    .navLink {
      transition: background-color 0.3s, color 0.3s;
      // padding: 10px;
      align-items: center;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      font-family: 'Inter';
      &:hover {
        // background-color: white;
        color: white;
      }
    }
    .log-button {
      background-color: v.$theme-tertiary;
      color: white;
      border: 1px solid v.$theme-tertiary;
      padding: 10px;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;
      font-family: 'Inter';
      &:hover {
        background-color: v.$theme-tertiary-darker;
        color: white;
        border-color: v.$theme-tertiary-darker;
      }
    }

    .navbar-left {
      display: flex; 
      align-items: center; 
      justify-content: center;
      h1 {
        color: white;
        font-weight: 600;
        font-size: 28px;
        margin: 0;
        margin-right: 15px; /* Remove any margin on the title */
      }
  
      .navbar-links {
        display: flex; /* Create a flex container for the links */
        align-items: center; /* Vertically center the links */
      }
    }
  
    
    .navbar-right {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        
      }
    }
  }

  .user-info {
    display: flex;
  }

  