  <ul ngbNav #nav="ngbNav" class="shadow-sm nav-tabs">
    <div class="navbar-content">
      <li ngbNavItem>
        <h1>FindaPlace</h1>
      </li>
      <li ngbNavItem>
        <a routerLink="/carte">Carte</a>
      </li>
      <li ngbNavItem>
        <a routerLink="/revues">Mes adresses</a>
      </li>
      <li ngbNavItem>
        <a routerLink="/rechercher">
          <i class="fas fa-search"></i>
        </a>
      </li>
    </div>
    <div class="navbar-right">
      <li ngbNavItem>
        <a routerLink="/profile">
          <div class="user-info">
            <ng-container *ngIf="connectedUser">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              {{ connectedUser.pseudo }} <!-- Display pseudo to the left of the SVG -->
            </ng-container>
            <button type="submit">Deconnexion</button>

          </div>

        </a>
        
        
      </li>
    </div>
  </ul>
  <div [ngbNavOutlet]="nav"></div>