/* navbar.component.scss */
.nav-tabs {
    background-color: #FFC480;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px; /* Adjust padding for spacing */    
    .navbar-content {
      display: flex; /* Create a flex container for the title and links */
      align-items: center; /* Vertically center the content */
  
      h1 {
        color: white;
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        margin-right: 15px; /* Remove any margin on the title */
      }
  
      .navbar-links {
        display: flex; /* Create a flex container for the links */
        align-items: center; /* Vertically center the links */
      }
    }
  
    a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      // &:hover {
      //   color: black;
      // }
    }
  
    .navbar-right {
      display: flex;
      align-items: center;
  
      svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }

  .user-info {
    display: flex;
  }

  .button {
    background-color: #FFC480;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // Add a smooth transition
  
    &:hover {
      background-color: white;
      color: #FFC480;
    }
  }
  