@use '../../variables' as v;

#id_container_adresses{
    margin:2%;
    h1{
        margin-top: 1%;
        margin-left: 40%;
        color: v.$theme-tertiary;
        font-weight: 550;
        font-size: 30px;
    }
}

#div_list_resto{
    margin:2%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;

    #container_review{
        flex: 0 1 calc(25% - 20px);

    }
}
