@use '../../variables' as v;

.popup {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 25px 25px; /* Adjust padding for spacing */  
    width: 325px;
    border-radius: 15px;

    .place-name {
        h1 {
            color: black;
            font-weight: 700;
            font-size: 20px;
            margin: 0;
        }
    }

    .address {
        p {
            color: black;
            font-weight: 400;
            font-size: 14px; 
            margin: 0;
            margin-top: 5px;
        }
    }

    .tag {
        margin-top: 10px;
        background-color: v.$italien;
        padding: 4px 12px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        align-content: center;
        p {
            color: white;
            margin: 0;
            font-size: 12px;
            font-weight: 300;
        }
    }

    .rating-line {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        .people {
            display: flex;
            flex-direction: row;
            .icon {
                margin-right: -10px;
                background-color: #FF9797;
                width: 25px;
                height: 25px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
            p {
                color: white;
                margin: 0;
                font-size: 10px;
                font-weight: 300;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 20px;
            }
            }
            .icon-plus {
                background-color: white;
                width: 25px;
                height: 25px;
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
                border-style: solid;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
            p {
                color: black;
                margin: 0;
                font-size: 10px;
                font-weight: 300;
            }
            }
        }
        .rating {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding: 0 10px;
            .left {
                align-self: flex-start;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                p {
                    color: black;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                }
                .stars {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    padding: 0 5px;
                }
            }
            .right {
                align-self: flex-end;
                p {
                    color: black;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
    }
    .photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: 10px;
        .photo {
            width: 100px;
            height: 85px;
            border-radius: 12px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                object-fit: cover;
            }
        }
        .photos-plus {
            position: relative;
            display: inline-block;
            text-align: center;
            width: 60px;
            height: 85px;
            border-radius: 12px;
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                margin: 0;
                font-size: 14px;
                font-weight: 300;
            }
            img {
                display: block;
                filter: brightness(30%);
                width: 100%;
                height: 100%;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
}