<!-- user-list.component.html -->
<div class="user-list-container">
    <h2>Suivre des Spotters</h2>
    <input type="text" [(ngModel)]="searchQuery" placeholder="Chercher à partir du pseudo" />
  <div class="friend-container">
    <ul *ngFor="let user of users | filterUsers: searchQuery" class="friend">
        <li >
          {{ user.user_name }}
        </li>
  <ng-container *ngIf="isUserFollowing(user)">
    <button class="button" type="submit" (click)="unFollowUser(user)">Se désabonner</button>
  </ng-container>
  <ng-container *ngIf="!isUserFollowing(user)">
    <button class='button' type="submit" (click)="followUser(user)">Suivre</button>
  </ng-container>      </ul>
  </div>
    
</div>
  