/* user-list.component.scss */
@use '../../variables' as v;

.user-list-container {
    background-color: v.$theme-secondary;
    border: 1px solid v.$theme-secondary;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    h2 {
        color: white;
      }
  
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #FFC480;
      border-radius: 5px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    li {
      margin: 10px 0;
      text-align: left;
      margin-left: 10px;
      font-style: italic;
  
      label {
        color: white;
      }
  
      p {
        color: white;
      }
    }
  }
  .button {
    background-color: v.$theme-background;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // Add a smooth transition
  
    &:hover {
      background-color: white;
      color: v.$theme-secondary;
    }
  }

  .following-label {
    background-color: v.$theme-background;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-style: italic;
  }

  .friend {
    display: flex;
    background-color: v.$theme-background;
    border: 1px solid v.$theme-background;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;

  }

  .friend-container {
    justify-content: space-between;

  }
  