<div class="place-input-container">
<h3>Nom de ton Spot</h3>
<div class="form-line">
<form>
  <mat-form-field class="place-input">
    <input
      ngx-gp-autocomplete
      #input
      #placesRef="ngx-places"
      type="text"
      matInput
      class="input"
      (onAddressChange)="onPlaceSelected($event)"
      [placeholder]="placeholder"
      [options]="options"
    />
  </mat-form-field>
</form>
<button mat-flat-button class="submit-button" (click)="nextStep()">Suite</button>
</div>
</div>